.vscode/
.venv/
Recherche/
src/loxInFlux/__pycache__/
src/loxwebsocket/__pycache__/
uv.lock
config_sps_0250_20241229211340.xml
.DS_Store
data/
config/config.toml
profile_results.html
src/loxwebsocket/build/lib.macosx-14.0-arm64-cpython-313/extractor.cpython-313-darwin.so
src/loxwebsocket/build/temp.macosx-14.0-arm64-cpython-313/extractor.o
src/loxwebsocket/cython_modules/build/lib.macosx-14.0-arm64-cpython-313/extractor.cpython-313-darwin.so
src/loxwebsocket/cython_modules/build/temp.macosx-14.0-arm64-cpython-313/extractor.o
src/loxwebsocket/cython_modules/extractor.cpython-313-darwin.so
src/loxwebsocket/cython_modules/extractor.c
